<div class="footer">
        <div id="jalisco_creditos" class="container-footer">
            <div class="region region-footer-credits">
                <div id="logo" class="block col-xs-3 col-sm-2">
                    <div id="container_shield_black">
                        <img src="../content/images/logo_jalisco_black.svg" alt="Escudo del Gobierno de Jalisco con tonalidad oscura" data-toggle="tooltip" data-placement="top" title="" data-original-title="Escudo de Jalisco">
                    </div>
                </div>
                <div id="block-text" class="block col-xs-6 col-sm-8">
                    <div id="container_shield_text">
                        <p class="hidden-xs">Este es un proyecto de <a target="_blank" href="https://retos.jalisco.gob.mx/">Retos Jalisco</a>,
                            Fiscalía General del Estado de Jalisco  <a target="_blank" href="http://fge.jalisco.gob.mx/">(FGE)</a>
                            <br>
                            y del Instituto de Información Estadística y Geográfica de Jalisco <a target="_blank" href="http://www.iieg.gob.mx/">(IIEGJ)</a> </p>
                        <p> Gobierno del Estado de Jalisco, algunos derechos reservados © 2017</p>
                        <p ui-sref-active="active" > <a ui-sref="terminos" >Términos y condiciones</a> </p>
                    </div>
                </div>
                <div id="logo-gob-mx" class="block col-xs-3 col-sm-2">

                    <div id="container_shield_brand">
                        <img src="../content/images/brand_jalisco_white.svg" alt="Marca del Gobierno de Jalisco en escala de grises" data-toggle="tooltip" data-placement="top" title="" data-original-title="Marca Jalisco">
                    </div>
                </div>
                <div id="coderobot" class="col-xs-12 text-center">
                        <br>
                        Desarrollado por <a href="http://coderobot.com.mx" target="_blank">CodeRobot</a>
                </div>
            </div>
        </div>
</div>
